{% extends 'layout.html' %}

{% block content %}
<div class="detalle-noticia">
  <div class="detalle-noticia-item detalle-noticia-foto">
    <img width="300" height="225" src="{{ noticia.FotoPortada }}"/>
    <span>{{ noticia.Nombre }} {{ noticia.Apellidp }} </br>CI {{ noticia.Cedula }}</span>
  </div>
  <div class="detalle-noticia-item detalle-noticia-data">
    <h3 class="extra-red">{{ noticia.Titulo }}</h3>
    <table class="noticia-detalle-data">
      <tr>
        <td class="leido">Le&iacute;do: {{ noticia.Visitas }} veces</td>
        <td class="publicado">Publicado: {{ noticia.FechaCreacion }}</td>
      </tr>
    </table>
    <p>{{ noticia.NoticiaTexto  }}</p>
    <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style"
     addthis:url="http://reporterox.graficosnacionales.com/?noticia={{ noticia.Id }}"
     addthis:title="{{ noticia.Titulo }}"
     addthis:description="{{ noticia.Descripcion  }}">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true'};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-509ef06209f0020e"></script>
<!-- AddThis Button END -->
  </div>
  <div style="clear:both"></div>
</div>
{% endblock %}
