body {
    font-family: arial, sans;
}

.no-like {
    padding: 0px;
    margin: 0px;
    background-image: url(/images/bg-nolike-reporterox.png);
    width: 800px;
    height: 780px;
    z-index: 99;
}

.like {
    padding: 0px;
    margin: 0px;
    background-image: url(/images/bg-like-reporterox.png);
    width: 800px;
    height: 900px;
    z-index: 99;
}

#container {
    width: 695px;
    padding: 0px;
    margin: 0 auto;
}

/**
Ubicacion del plugin Me Gusta
**/
.fb-like {
    margin-top: 275px;
    margin-left: 170px;
    transform: scale(2.0);
    -ms-transform: scale(2.0);
    -webkit-transform: scale(2.0);
    -o-transform: scale(2.0);
    -moz-transform: scale(2.0);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}

/**
Esconde la caja de comentarios del plugin Me Gusta
**/
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}

/**
Estilos variados
**/
.center {
    text-align: center;
}

.center-image {
    display: block;
    margin: 0 auto;
}

/*
.transparent {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
*/

.slides_container {
    width:695px;
    overflow:hidden;
    position:relative;
    display:none;
    padding: 0;
    margin: 0;
}

.slides_container div.slide {
    width: 695px;
    height: 327px;
    overflow: hidden;
    display: block;
}

.pagination {
    width: 695px;
    padding-bottom: 20px;
    background-color: black;
}

.pagination li {
    float:left;
    margin:0 1px;
    list-style:none;
}

.pagination li a {
    display:block;
    width:12px;
    height:0;
    padding-top:12px;
    background-image:url(../images/pagination.png);
    background-position:0 0;
    float:left;
    overflow:hidden;
}

.pagination li.current a {
        background-position:0 -12px;
}

.transparent {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.extra-dark {
    background-color: #2e2e2e;
}

.extra-red {
    color: #eb1b24;
}

/**
Componentes de la pagina
**/
#header {
    color: white;
    height: 150px;
    margin: 0 auto;
    padding: 0px;
}

#logo {
    position: absolute;
    top: 73px;
    left: 85px;
    z-index: 100;
}

#decoracion-header {
    position: absolute;
    top: 40px;
    left: 53px;
}

#navbar {
    background-color: #2e2e2e;
    height: 25px;
    padding: 0px;
    margin: 0px;
    border-bottom: 3px solid #eb1b24;
}

#navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#navbar ul li {
    float: right;
    padding: 5px 5px 5px 5px;
    margin: 0px 10px 0px 10px;
    font-family: arial;
    font-size: 0.8em;
    color: white;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li:hover {
    background-color: #eb1b24;
}

#navbar ul li.current {
    background-color: #eb1b24;
}

#date {
    padding: 10px 0px 0px 9px;
}

#date ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#date ul li {
    float: left;
    margin: 0px 10px 0px 5px;
    font-size: 0.45em;
}

#date ul li span {
    margin-bottom: 5px;
}

.st_sharethis_custom{
    background: url(/images/sharethis-button.png) no-repeat scroll left top transparent;
    padding:0px 58px 58px 0;
}

#boton-participa-header {
    margin-top: 10px;
    margin-right: 70px;
}

#top-button {
    text-align: right;
}

#countdown ul {
    list-style-type: none;
    margin-left: 320px;
    font-weight: bold;
    font-size: 0.8em;
}

#countdown ul li {
    padding: 5px;
    float: left;
}

#countdown ul li.gradient {
    background: #fff; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#a8a9ad'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#a8a9ad)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #a8a9ad); /* for firefox 3.6+ */
    color: black;
    border-right: solid 1px #999a9e;
}

#countdown ul li.concurso {
    background-color: #feee15;
    color: #eb1b24;
    -moz-border-radius-right: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}

#countdown ul li.faltan {
    background-color: #eb1b24;
    color: white;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

#footer {
    background: url(/images/leather_texture.jpg) no-repeat;
    border-top: 1px solid white;
    height: 350px;
}

#footer-expectador {
    margin-top: 30px;
}

#footer-sidebar {
    width: 435px;
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 20px;
    float: right;
    margin-top: 20px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
}

#footer-widgets {
    float: left;
    margin-top: 30px;
    margin-left: 63px;
}

#footer-sidebar div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#footer-sidebar div ul li {
    float: left;
    padding: 10px;
}

#footer-sidebar div ul li img {
    margin-top: 15px;
}
.float-left {
    float: left;
}

.standard-padding {
    padding: 10px 0px 10px 0px;
}

.image-padding {
    vertical-align:middle;
    margin: 0px 5px 0px 0px;
}

.image-margin-left {
    margin-left: 20px;
}

#footer-sidebar a {
    text-decoration: none;
    color: white;
}

#share-label {
    color: white;
    font-size: 0.5em;
    padding-top: 35px;
}

.padding-top {
    padding-top: 15px;
}

.masleidas {
    height: 700px;
    background-color: white;
    padding: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}


.inside-container {
    background-color: #b6b8c5;
    margin-top: 40px;
    padding: 0px;
}

.inside-header img {
    display: block;
    position: relative;
    left: -14px;
    top: 0px;
}

.fotogaleria {
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
    clear: both;
    height: 600px;
}

.fotogaleria-item {
    float: left;
    margin: 8px;
}
.fotogaleria-item-dim {
    width: 200px;
    height: 150px;
}

.fotogaleria-image {
    overflow: hidden;
}

.white-bg {
    background-color: white;
}

.fotogaleria-padding {
    padding: 3px 10px 3px 10px;
}

.sidebar {
    width: 335px;
    height: 239px;
    padding: 10px;
}

.etiqueta-amarilla-noticias {
    text-align: center;
    position: relative;
    padding-top: 4px;
    bottom: 12px;
    left: 100px;
    width: 90px;
    height: 24px;
    margin: 0px;
    background-image: url(/images/etiqueta-amarilla-noticias.png);
    background-repeat: no-repeat;
    font-size: 1.25em;
    font-weight: bold;
}

.ganadores-imagen {
    width: 340px;
    height: 259px;
}

.ganadores div {
    float: left;
}

.ganadores-footer {
    border-top: 2px solid #fded10;
    width: 655px;
    height: 400px;
    background-image: url(/images/leather_texture.jpg);
    background-repeat: repeat-x;
    text-align: center;
    padding: 20px;
}

.galeria-premios div {
    background: black;
    margin: 5px;
    padding: 5px;
}

.ganadores-testigo-button {
    padding-top: 20px;
    text-align: center;
}
